* {
  font-family: 'Roboto', sans-serif;
  /*color: #2D3740;*/
  /*border: 1px black solid;*/
}

a {
  color: inherit;
}

a:active, a:hover, a:focus {
  text-decoration: none;
}

.social-network {
  color: #8e9ba7;
  width: 50px;
  background-color: #eaeef1;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

[class^=social] a:hover {
  font-weight: 700;
}

.hd-right {
  width: 344px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .hd-xs-center {
    margin-left: auto;
    margin-right: auto;
  }
}

.social-services {
  background-color: #8e9ba7;
  color: #ffffff;
  width: 194px;
  font-size: 14px;
}

[class^=social] {
  height: 50px;
  margin-left: -5px;
  padding: 16px 0;
  box-sizing: border-box;
}

.hd-list {
  background-color: #0f417b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}

.hd-list a {
  color: inherit !important;
  font-weight: 500;
}

@media (min-width: 992px) {
  .hd-list a {
    padding: 0 10px;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.open .dropdown-menu {
  margin-top: -1px !important;
  border-radius: 0;
  padding: 2px 0;
}

.btn-principal {
  background-color: #0f417b;
  color: #dddddd;
}

.dropdown-menu li:hover, .btn-principal a:focus, .btn-warning a:hover {
  color: #0f417b;
}

.dropdown-menu li {
  font-weight: 700;
  border: 2px solid #dddddd;
}

.pad-0 {
  padding: 0;
}

.pad-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hd-call {
  /*color: #3d515f;*/
  color: #2D3740;
  line-height: 1;
  padding-top: 7px;
  font-weight: 700;
}

.hd-number-phone {
  font-size: 2.4rem;
  font-weight: 900;
  /*color: #3d515f;*/
  color: #2D3740;
  letter-spacing: -1px;
  padding-right: 0;
}

.menu-small {
  padding-left: 40px;
  padding-right: 25px;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-left: 12px;
}

.menu-small:focus {
  color: #0b4d79;
}

[class^=hr] {
  width: 35px;
  margin-left: 0;
  margin-bottom: 35px;
  border-width: 2px;
}

.hr-blue {
  border-color: #6482b8;
}

.hr-orange {
  border-color: #ff9840;
}

.btn-contrast {
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f39917;
}

aside {
  background-color: #6c6d6e;
  color: #ffffff;
  padding: 20px 0;
}

.mailto-mp {
  text-decoration: underline;
  color: #ffffff;
}

.mailto-mp:hover {
  color: #f39917;
}

aside h5 {
  margin: 0;
}

footer {
  background-color: #414547;
  color: #ffffff;
  padding-top: 60px;
}

.text-gray {
  color: #bbbbbb;
  font-weight: 500;
}

.footer-email {
  height: 50px;
  background-color: #6c6d6e;
  border: none;
  width: 83%;
  outline: none;
}

.footer-email::placeholder {
  color: #bbbbbb;
  padding-left: 15px;
}

footer .icon-send {
  width: 50px;
  height: 50px;
  background-color: #a9aaab;
  display: inline-block;
  padding: 15px;
  margin-left: -4px;
}

.footer-copyright {
  padding-top: 100px;
}

/* página home*/
#home-page {
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
}

.sub-main {
  position: relative;
  bottom: 53px;
  height: 38vh;
  background-color: #dddddd;
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(246,41,12,1) 50%, rgba(246,41,12,1) 100%);
  background:  linear-gradient( transparent, transparent 53px, #fafafa 53px, #fafafa 100%);;
}

.sub-main .nav-tabs {
  background-color: #555555;
  color: #ffffff;
  font-weight: 700;
  width: 422px;
}

.sub-main .nav-tabs a {
  border-radius: 0;
  padding: 14px 21px;
  margin-right: 0;
}

.sub-main .nav-tabs>li.active>a {
  background-color: #fafafa;
}

.sub-main .nav-tabs span {
  padding-left: 7px;
}

.img-services {
  width: 100%;
}

#tracking {
  padding: 21px;
  color: #313b44;
}

.btn-search {
  background-color: #0f417b;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;
  border-radius: 0;
}

.form-search {
  border-radius: 0;
  width: 220px !important;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .sub-main {
    height: 45vh;
  }
  .sub-main .nav-tabs {
    width: 338px;
    margin-left: auto;
    margin-right: auto;
  }
  .sub-main .nav-tabs a {
    padding: 14px 7px;
  }
  .sub-main form {
    text-align: center;
  }
  .form-search {
    margin: auto;
  }
  .btn-search {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 870px) {
  .btn-search {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form-search {
    width: 180px !important;
  }
}

.our-serv {
  font-weight: 900;
  margin-top: 0;
}

.read-more {
  font-size: 1.2rem;
  font-weight: 700;
}

.panel {
  border-radius: 0;
}

.panel-body {
  padding: 15px 30px 35px;
}

#services {
  color: #313b44;
  padding-bottom: 65px;
}

.content-services {
  color: #678190;
}

.principal-msg {
  color: #ffffff;
  font-size: 3.7rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 2px 2px #000000;
  padding-top: 30vh;
}

/* página servicios*/
#services-page {
  background-image: url("../assets/images/bg-services.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.services-courier {
  height: 150px;
  background-color: rgba(16, 66, 122, 0.8);
  color: #ffffff;
  padding: 5px 30px;
  margin: 100px 0;
}

.all-services h2 {
  color: #0f427c;
  font-weight: 700;
}

.all-services h3, .all-services h4 {
  margin: 0;
}

.all-services h4 {
  padding-bottom: 20px;
  font-size: 2rem;
}

.all-services li {
  padding-bottom: 10px;
}

.list-unstyled .active a {
  color: #f39917;
}

.line-left {
  border-left: solid 1px #bbbbbb;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.services-main {
  margin-top: 21px;
  margin-bottom: 0;
}

/* página nosotros */
#our-page {
  background-image: url("../assets/images/bg-our.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
}

/* página sucursales */
#offices-page {
  background-image: url("../assets/images/bg-offices.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
}

.box-offices {
  background-color: #fafafa;
  border-radius: 5px;
  border-left: solid 2px #f39917;
  margin: 10px;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(173,173,173,1);
  -moz-box-shadow: 2px 2px 4px 0 rgba(173,173,173,1);
  box-shadow: 2px 2px 4px 0 rgba(173,173,173,1);
}

.province-offices {
  padding-top: 20px;
  padding-bottom: 40px;
}

form {
  padding: 30px 10px;
}