@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x6g8kf');
  src:  url('fonts/icomoon.eot?x6g8kf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x6g8kf') format('truetype'),
    url('fonts/icomoon.woff?x6g8kf') format('woff'),
    url('fonts/icomoon.svg?x6g8kf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 1.1em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check, .icon-location, .icon-plane {
  font-size: 1.4em;
}

.icon-phone {
  font-size: 3em;
  color: #3d515f;
}

[class^=icon-circle] {
  color: #6482b8;
}

.icon-check:before {
  content: "\41";
}
.icon-circle-o:before {
  content: "\47";
}
.icon-circle:before {
  content: "\48";
}
.icon-send:before {
  content: "\49";
}
.icon-right:before {
  content: "\42";
}
.icon-plane:before {
  content: "\43";
}
.icon-twitter:before {
  content: "\51";
}
.icon-gplus:before {
  content: "\45";
}
.icon-phone:before {
  content: "\50";
}
.icon-location:before {
  content: "\46";
}
.icon-facebook:before {
  content: "\44";
}
