<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Macro Post</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <nav class="col-xs-12 col-md-9 col-md-push-3">
              <ul class="list-inline text-center hd-right hd-xs-center">
                <li class="social-network"><a href=""><i class="icon-facebook"></i></a></li>
                <li class="social-network"><a href=""><i class="icon-twitter"></i></a></li>
                <li class="social-network"><a href=""><i class="icon-gplus"></i></a></li>
                <li class="social-services text-uppercase"><a href="servicios.html">servicio empresas</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 text-center">
            <figure class="col-md-9 pad-0">
              <a href="../index.html"><img src="../assets/images/logo.png" alt="logo macro post"></a>
            </figure>
          </div>
          <div class="col-xs-12 col-sm-6 pad-tb-10">
            <div class="col-md-9 col-md-push-3 hd-right pad-0 hd-xs-center">
              <div class="col-xs-6 pad-0">
                <span class="icon-phone col-xs-3 pad-0"></span>
                <span class="col-xs-9 pad-0 text-center hd-call"><small>Llámenos para solicitar su recojo a domicilio</small></span>
              </div>
              <div class="col-xs-6 hd-number-phone text-right">
                <p>(01) 472 0403</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default hd-list text-center">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed menu-small" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
              <span class="text-uppercase">Menú</span>
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="nav navbar-nav">
              <li>
                <a href="nosotros.html" class="text-uppercase">nosotros</a>
              </li>
              <li class="dropdown btn-warning">
                <a href="#" class="dropdown-toggle btn-warning text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">oficinas</a>
                <ul class="dropdown-menu">
                  <li class="btn-warning"><a href="sucursales-lima.html" class="text-uppercase">arenales</a></li>
                  <li class="btn-warning"><a href="sucursales-lima.html" class="text-uppercase">miraflores</a></li>
                  <li class="btn-warning"><a href="sucursales-lima.html" class="text-uppercase">la victoria</a></li>
                  <li class="btn-warning"><a href="sucursales-lima.html" class="text-uppercase">wilson</a></li>
                  <li class="btn-warning"><a href="sucursales-provincia.html" class="text-uppercase">a todo el perú</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">servicios</a>
                <ul class="dropdown-menu">
                  <li class="btn-principal"><a href="servicios.html" class="text-uppercase">regular</a></li>
                  <li class="btn-principal"><a href="servicios.html" class="text-uppercase">expreso lima</a></li>
                  <li class="btn-principal"><a href="servicios.html" class="text-uppercase">pago en destino</a></li>
                  <li class="btn-principal"><a href="servicios.html" class="text-uppercase">cobramos por ti</a></li>
                </ul>
              </li>
              <li>
                <a href="contactanos.html" class="text-uppercase" >contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container-fluid" id="our-page">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-xs-push-4 col-sm-5 col-sm-push-7 services-courier">
              <h2 class="hidden-xs">Nosotros</h2>
              <h3 class="hidden-sm hidden-md hidden-lg">Nosotros</h3>
              <h4 class="hidden-xs">33 años siendo los profesionales del envío.</h4>
              <p class="hidden-sm hidden-md hidden-lg">33 años siendo los profesionales del envío.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row all-services">
            <div class="col-xs-12 col-sm-10 col-sm-push-1">
              <p class="pad-0 services-main">
                <a href="../index.html">Home &#8250;</a>
                <a href="servicios.html">Nosotros &#8250;</a>
              </p>
            </div>
            <hr class="col-xs-10 col-xs-push-1">
            <nav class="col-xs-4 col-sm-3 col-sm-2 col-sm-push-1 pad-tb-10">
              <h4><a href="">Nosotros</a></h4>
              <ul class="list-unstyled" role="tablist">
                <li role="presentation" class="active"><a href="#about-us" aria-controls="home" role="tab" data-toggle="tab">Quienes Somos</a></li>
                <li role="presentation"><a href="#mission" aria-controls="profile" role="tab" data-toggle="tab">Misión</a></li>
                <li role="presentation"><a href="#vision" aria-controls="messages" role="tab" data-toggle="tab">Visión</a></li>
                <li role="presentation"><a href="#customers" aria-controls="settings" role="tab" data-toggle="tab">Clientes</a></li>
              </ul>
            </nav>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="about-us">
                <div class="col-xs-8 col-sm-9 col-sm-8 col-sm-push-1 pad-tb-10 line-left">
                  <h3>Macropost</h3>
                  <div class="pad-tb-10">
                    <h2 class="all-services">Quienes Somos</h2>
                    <p class="pad-tb-10">Somos una empresa peruana que tiene 33 años en el mercado y está especializada en la entrega de encomiendas como cajas, paquetes, documentos y bultos hacia Lima y todos los departamentos del Perú. Nos esforzamos día a día en ofrecer un servicio eficiente, rápido y seguro. Nuestro sueño es crecer junto a nuestros clientes.</p>
                    <p>Además de los servicios de Courier, MacroPost ofrece también los servicios de transporte de carga y logística a Nivel Nacional, contando con personal experimentado y unidades de transporte asociadas que nos permiten cumplir con cualquier requerimiento de transporte de carga sin importar el peso o el volumen del mismo, contando con personal humano responsable que se encargue de las gestiones del mismo en cualquier punto del territorio nacional.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="mission">
                <div class="col-xs-8 col-sm-9 col-sm-8 col-sm-push-1 pad-tb-10 line-left">
                  <h3>Macropost</h3>
                  <div class="pad-tb-10">
                    <h2 class="all-services">Misión</h2>
                    <p class="pad-tb-10">Llevamos encomiendas hacia todo el Perú mediante procesos de alta calidad y dedicación que nos permiten trabajar de manera puntual, segura y orientados a la satisfacción de nuestro público.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="vision">
                <div class="col-xs-8 col-sm-9 col-sm-8 col-sm-push-1 pad-tb-10 line-left">
                  <h3>Macropost</h3>
                  <div class="pad-tb-10">
                    <h2 class="all-services">Visión</h2>
                    <p class="pad-tb-10">Ser ampliamente reconocida como una empresa peruana líder en brindar soluciones logísticas en base a nuestra cobertura, eficiencia y modernidad, generando prosperidad para nuestros colaboradores y socios, satisfacción para nuestros clientes, y desarrollo para nuestra sociedad.</p>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="customers">
                <div class="col-xs-8 col-sm-9 col-sm-8 col-sm-push-1 pad-tb-10 line-left">
                  <h3>Macropost</h3>
                  <div class="pad-tb-10">
                    <h2 class="all-services">Principales Clientes</h2>
                    <p class="pad-tb-10">DiveMotor</p>
                    <p class="pad-tb-10">PetroPerú</p>
                    <p class="pad-tb-10">MINSA</p>
                    <p class="pad-tb-10">E-Commerce</p>
                    <p class="pad-tb-10">Clientes particulares</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <h5 class="text-uppercase">¿necesita realizar una cotización por alguno de nuestros servicios?</h5>
              <small class="text-gray hidden-xs hidden-sm hidden-md">Envíenos un correo a <a href="mailto:gcomercial@macropost.com.pe" class="mailto-mp">gcomercial@macropost.com.pe</a> y le responderemos a la brevedad posible.</small>
            </div>
            <div class="col-xs-6 text-right">
              <a href="contactanos.html" role="button" class="btn btn-warning btn-contrast text-uppercase">contáctenos</a>
            </div>
            <div class="col-xs-12 hidden-lg">
              <small class="text-gray">Envíenos un correo a <a href="mailto:gcomercial@macropost.com.pe" class="mailto-mp">gcomercial@macropost.com.pe</a> y le responderemos a la brevedad posible.</small>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <footer class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 pad-tb-10">
              <h4 class="text-uppercase">contáctenos</h4>
              <hr class="hr-orange">
              <p class="text-uppercase">oficina principal</p>
              <p class="text-gray">Av. Arenales 1093 Lima 1</p>
              <ul class="list-unstyled pad-tb-10">
                <li>Teléfono: <span class="text-gray">(01) 472 0403</span></li>
                <li>RPM: <span class="text-gray">#995711514</span></li>
                <li>Email: <span class="text-gray">gcomercial@macropost.com.pe</span></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 pad-tb-10">
              <h4 class="text-uppercase">boletín informativo</h4>
              <hr class="hr-orange">
              <p class="text-gray">Si desea recibir información de ofertas y promociones, por favor, déjenos su correo electrónico.</p>
              <form action="">
                <input type="email" class="footer-email text-gray" placeholder="EmailAddress">
                <i class="icon-send"></i>
              </form>
            </div>
            <div class="col-xs-12">
              <p class="text-gray footer-copyright">Copyright 2017. Todos los derechos reservados por Macropost S.A.C.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>